html {
  font-family: Roboto, sans-serif;
  font-size: 18px;
}

section {
  margin: 32px;
}

h1 {
  word-spacing: 20px;
  text-transform: capitalize;
  text-align: center;
}

p {
  line-height: 28px;
}

.technology {
  font-weight: bold;
  letter-spacing: 3px;
  font-size: 24px;
  text-decoration: underline;
  opacity: 80%;
}

a {
  text-decoration: none;
}

em {
  color: gray;
}
