.row {
  display: flex;
  margin: auto;
  align-items: center;
  max-width: 100%;
}

.small-bird {
  width: 64px;
  height: 64px;
}

.large-bird {
  width: 320px;
  height: 320px;
}

.column {
  max-width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
}
