* {
  box-sizing: border-box;
}

.red {
  position: relative;
  float: left;
  background-color: red;
}

.green {
  position: relative;
  float: left;
  background-color: green;
}

.blue {
  background-color: blue;
}

.yellow {
  background-color: yellow;
}

.black {
  background-color: black;
}
