<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Layout</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css"
      integrity="sha256-WAgYcAck1C1/zEl5sBl5cfyhxtLgKGdpI3oKyJffVRI="
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="styles.css" />
  </head>
  <body>
    <nav class="navigation">
      <div class="navigation__title"></div>
      <div class="navigation__search">
        <div class="navigation__filter">
          <label class="navigation__label">Filter by</label>
          <select class="navigation__select" name="" id="">
            <option value="Jacket">Jacket</option>
            <option value="Test">Test</option>
          </select>
        </div>

        <div class="navigation__sort">
          <label class="navigation__label">Sort by</label>
          <select class="navigation__select">
            <option value="date-asc">Date asc</option>
            <option value="date-desc">Date desc</option>
          </select>
        </div>
      </div>
    </nav>

    <!-- Products -->

    <section class="products">
      <div class="product">
        <div class="product__img">
          <img
            src="https://cdn.shopify.com/s/files/1/0938/8938/products/10175100258_1_1264x1800_300_RGB_1080x.jpeg"
            alt="BrownJacket"
          />
        </div>
        <div class="product__info">
          <h5 class="product__title"></h5>
          <h6 class="product__price"></h6>
        </div>
      </div>

      <div class="product">
        <div class="product__img"><img src="" alt="" /></div>
        <div class="product__info">
          <h5 class="product__title"></h5>
          <h6 class="product__price"></h6>
        </div>
      </div>

      <div class="product">
        <div class="product__img"><img src="" alt="" /></div>
        <div class="product__info">
          <h5 class="product__title"></h5>
          <h6 class="product__price"></h6>
        </div>
      </div>
    </section>
  </body>
</html>
