* {
  box-sizing: border-box;
}

html {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 16px;
  color: #555;
}

body {
  display: flex;
  min-height: 100vh;
  max-width: 100vw;
  flex-direction: column;
}

.main {
  display: flex;
  min-height: 100%;
}

.header {
  color: white;
  text-align: center;
  background-image: linear-gradient(60deg, red, orange);
}

.footer {
  background-color: #e5e5e5;
  padding: 0.5em;
  text-align: center;
}

.navigation .section .news {
  padding: 0.5em;
}
.navigation {
  width: 20%;
}
.section {
  width: 60%;
  font-size: 1.25em;
}

.news {
  width: 20%;
}

.units-list {
  line-height: 1.75em;
}
.css-units {
  color: #8b0000;
  background-color: #e5e5e5;
  font-size: 1.125em;
  font-weight: 700;
}

.section__header {
  font-size: 5vw;
  text-align: center;
}

.nav-list {
  padding: 0;
  list-style: none;
}
.nav-list-item {
  color: #ffffff;
  background-color: #808080;
  height: 2em;
  margin: 0.5em;
  overflow: hidden;
  text-overflow: ellipsis;
}
.nav-list-link {
  width: 100%;
  padding-left: 0.5em;
  padding-right: 0.5em;
  color: #ffffff;
  text-decoration: none;
  line-height: 2em;
  white-space: nowrap;
}
