.header {
  background-color: darkturquoise;
  height: 40px;
  width: 100%;
  position: fixed;
  z-index: 1;
  line-height: 40px;
}

.navigation {
  white-space: nowrap;
  overflow: hidden;
}

.navigation ul {
}

.navigation ul li {
  color: white;
  float: left;
  margin-left: 16px;
  list-style-type: none;
}

.content {
  height: 5000px;
  background-color: beige;
}

.head {
  position: absolute;
  height: 200px;
  width: 200px;
  background: red;
  top: calc(50% - 100px);
  left: calc(50% - 100px);

  background-color: aquamarine;
}
.ear {
  margin-top: -60px;
}
.ear_right {
  position: relative;
  float: left;
  height: 60px;
  width: 40px;
  background-color: brown;
  margin-left: -40px;
}
.ear_left {
  position: relative;
  float: right;
  height: 60px;
  width: 40px;
  background-color: brown;
  margin-right: -40px;
}
.eye {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  position: relative;
  margin-top: 80px;
  margin-left: 40px;

  background-color: gray;
}
.eye_right {
  position: relative;
  float: left;
}
.eye_left {
  position: relative;
  float: right;
  margin-right: 40px;
}
