* {
  box-sizing: border-box;
}

.image-container {
  position: relative;
  margin: 0;
  display: block;
  align-items: center;
  max-width: 100%;
}

.image {
  margin: auto;
  display: block;
  max-width: 100%;
}

.image-button {
  display: flex;
  position: absolute;
  top: calc(50% - 25px);
  left: calc(50% - 100px);
  justify-content: center;
  text-align: center;
  align-items: center;
  width: 200px;
  height: 50px;
  background-color: bisque;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  opacity: 0.5;
  cursor: pointer;
}

.image-button:hover {
  opacity: 1;
}
