body {
  box-sizing: border-box;
}

.page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  flex-grow: 1;
  display: flex;
}

.dashboard {
  display: flex;
  flex-grow: 1;
  background-color: pink;
  justify-content: center;
  align-items: center;
}

.news {
  display: flex;
  width: 200px;
  background-color: gray;
  align-items: center;
  flex-direction: column;
}

.news_h {
  margin-top: 16px;
  margin-bottom: 16px;
}

.news_list {
  margin: 0;
  line-height: 40px;
  margin-left: 16px;
}

.news_item {
}

.header {
  height: 40px;
  background-color: yellow;
  display: flex;
  align-items: center;
}

.footer {
  height: 40px;
  background-color: green;
  display: flex;
}

.footer_text {
  margin: auto;
}

.navigation-list {
  margin: 0;
  display: flex;
  list-style-type: none;
}

.navigation-item {
}
